
@{
    ViewBag.Title = "UserOperations";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="directory-info-row">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="people_directory.html#">
                            <img class="thumb media-object" src="img/photos/user1.png" alt="">
                        </a>
                        <div class="media-body">
                            <h4>John Doe <span class="text-muted small"> - UI Engineer</span></h4>
                            <ul class="social-links">
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <address>
                                <strong>VectorLab, Inc.</strong><br>
                                Vamoil Ave, Suite 23<br>
                                Dream land, Australia <br>
                                <abbr title="Phone">P:</abbr> (142) 454-7890
                            </address>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="people_directory.html#">
                            <img class="thumb media-object" src="img/photos/user4.png" alt="">
                        </a>
                        <div class="media-body">
                            <h4>Jane Doe <span class="text-muted small"> - Graphics Designer</span></h4>
                            <ul class="social-links">
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <address>
                                <strong>VectorLab, Inc.</strong><br>
                                Vamoil Ave, Suite 23<br>
                                Dream land, Australia <br>
                                <abbr title="Phone">P:</abbr> (142) 454-7890
                            </address>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="people_directory.html#">
                            <img class="thumb media-object" src="img/photos/user2.png" alt="">
                        </a>
                        <div class="media-body">
                            <h4>Demos Dika <span class="text-muted small"> - Software Tester</span></h4>
                            <ul class="social-links">
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <address>
                                <strong>VectorLab, Inc.</strong><br>
                                Vamoil Ave, Suite 23<br>
                                Dream land, Australia <br>
                                <abbr title="Phone">P:</abbr> (142) 454-7890
                            </address>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="people_directory.html#">
                            <img class="thumb media-object" src="img/photos/user3.png" alt="">
                        </a>
                        <div class="media-body">
                            <h4> Jonathan Smith <span class="text-muted small"> - Product Manager</span></h4>
                            <ul class="social-links">
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                <li><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="people_directory.html" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <address>
                                <strong>VectorLab, Inc.</strong><br>
                                Vamoil Ave, Suite 23<br>
                                Dream land, Australia <br>
                                <abbr title="Phone">P:</abbr> (142) 454-7890
                            </address>

                        </div>
                    </div>
                </div>
            </div>
        </div>
 

    
        

    </div>
</div>